/* CSS declarations go here */
body {
    background-color: #f9f9f9 !important;
}

input,
p,
select,
span,
textarea,
ul {
    font-family: 'Quicksand', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
html {
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
@import '../imports/ui/stylesheets/_helper.scss';
@import '../imports/ui/stylesheets/_login.scss';
@import '../imports/ui/stylesheets/_header.scss';
