.no-user-select {
    user-select: none !important;
    pointer-events: none;
}

.user-select {
    user-select: initial !important;
    pointer-events: all !important;
}

.user-select:hover {
    background-color: transparent !important;
}

.nobg {
    background-color: transparent !important;
}

.nobg:hover {
    background-color: transparent !important;
}

.profile-sub {
    user-select: none !important;
    pointer-events: none;
    margin-bottom: 20px !important;
    min-height: 80px !important;
}

.profile-icon {
    color: rgb(255, 255, 255);
    background-color: rgb(188, 188, 188);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
    position: absolute;
    top: 16px;
    left: 16px;
    user-select: none;
}

.profile-name {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 70px;
    line-height: 55px;
    font-size: 18px;
    font-weight: 400;
}

.profile-email {
    display: flex;
    margin-left: 70px;
    margin-top: -10px;
    margin-bottom: 20px;
    line-height: 10px;
    font-size: 15px;
    font-weight: 400;
}

.profile-info > div:hover {
    background-color: transparent !important;
}

.profile-info > div > div:hover {
    background-color: transparent !important;
}

.notifications-dropdown div {
    overflow-y: visible !important;
}

.logged {
    margin-top: 4px !important;
}
