.full-width {
    width: 100% !important;
}

.db {
    display: block;
}

.text-center {
    text-align: center !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb20 {
    margin-bottom: 20px;
}

.mw270 {
    max-width: 270px !important;
}

.w270 {
    width: 270px !important;
}

.f18 {
    font-size: 18px !important;
}

.mh15 {
    max-height: 15px !important;
    min-height: 15px !important;
}
